body {
  font-family: 'Open Sans';
  font-size: 14px;
}

.main {
  padding-left: 100px;
  padding-right: 100px;
}

.workarea {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  padding-right: 200px;
}

.films-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  
}

.movie {
  width: 550px;
  border: 1px solid grey;
  display: block;
  height: fit-content;
  min-height: 100px;
  padding: .5em;
  border-radius: 2px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
}

.leftpanel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pollscontainer {
  display: flex;
  flex-direction: column;
  height: fit-content;
  border: 1px solid darkgray;
  background-color: lightgray;
  justify-content: center;
  align-items: center;
  padding: 15 10 10 15;

}

.pollbutton {
  margin-bottom: 4px;
  background: #eee;
  color: #444;
  border: 1px solid #bbb;
  border-bottom: 1px solid #aaa;
  background-image: linear-gradient(#fff 2%,#ddd 95%,#bbb 100%);
  border-radius: 0.25em;
  box-shadow: none;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  height: fit-content;
  width: 75px;
  font-size: 10pt;
  text-align: center;
  width: 170px;
  border-radius: 0px;
  padding: 2 0 2 0;
}

.pollbutton:active {
  color: #111;
  background: #ccc;
  border-color: #fff;
  box-shadow: inset 1px 1px 3px #333;
}

#poll {
  padding: 10 10 10 10;
}

.filters {
  display:block;
  width: 175px;
  height: fit-content;
  border: 1px solid darkgray;
  background-color: lightgray;
}

.rankgrid {
  height: fit-content;
  padding-top: 2em;
}

.row {
  flex: 1;
  display: flex;
  flex-direction: row;
  
}

.rank {
  flex-basis: 100%;
  font-size: 18;
  text-align: center;
  font-family: 'Impact';
}


.votes {
  flex-basis: 100%;
  font-size: 11;
  text-align: center;

}


.year {
  flex-basis: 100%;
  font-size: 11;
  text-align: center;
}

.pound {
  font-weight: normal;
  font-family: 'Open Sans';
  font-size: 13;
  padding-right: 2px;
}

.title {
  font-size: 26;
  font-weight: bold;
}

.alttitle {
  font-size: 16;
  font-weight: bold;
  font-style: italic;
  padding-bottom: .35em;
}

.director {
  font-size: 14;
  font-weight: bold;
}

.countryyear {
  font-size: 14;
}

.dby {
  font-weight: normal;
}


.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 15 0 25 0;
}

.searchbar {
  position: relative;
  display: inline-block;
  padding: 5 0 5 0;
}

.dropdown-content {
  height:fit-content;
  max-height: 120px;
  width: 100%;
  position: absolute;
  overflow: auto;
  background-color: white;
  z-index: 2;
}

.searchresults {
  display: block;
  cursor: pointer;
}

.countries {
  padding-left: 17px;
}

.pageitem {
  background: #eee;
  color: #444;
  border: 1px solid #bbb;
  border-bottom: 1px solid #aaa;
  background-image: linear-gradient(#fff 2%,#ddd 95%,#bbb 100%);
  border-radius: 0.25em;
  box-shadow: none;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-size: 10pt;
  height: 25px;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  vertical-align: middle;
  width: fit-content;
  padding: 0px 10px 0px 10px;
}

.pageitem:active {
  color: #111;
  background: #ccc;
  border-color: #fff;
  box-shadow: inset 1px 1px 3px #333;
}

#selected {
  color: #111;
  background: #ccc;
  border-color: #fff;
  box-shadow: inset 1px 1px 3px #333;

}

.filterTitle {
  font-size: 13px;
  cursor: pointer;
}

.filters {
  padding: 10px
}

.applytop {
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

.applybottom {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

#highlight {
  color: green;
}

.withClear {
  padding: 16px 0 8px 0;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sortTitle {
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}

.sort {
  width: 175px;
  cursor: pointer;
}

.sortContainer {
  padding-top: 5px;
  padding-bottom: 5px;
}

.clear {
  font-size: 9pt;
  text-decoration: underline;
  margin-top: 2px;
  cursor: pointer;
}

.expandFilters {
    border-bottom: 1px solid white;
}

.searchBarContainer {
  padding-bottom: 5px;
}

.mainTitle {
  font-size: 44pt;
  font-family: 'Impact';
  padding-bottom: 10px;
}

.headerContainer {
  padding: 0 50 0 50;
  border-bottom: 3.5px solid black;
  padding-bottom: 10px;
}

.resultsNums {
  font-family: 'Impact';
  font-size: 14pt;
}

.results {
  font-size: 12pt;
  padding-left: 30px;
  padding-top: 15px;
}

.headerSelectionContainer {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.headerSelection {
  border-bottom: 1.5px solid black;
  font-size: 12pt;
  cursor: pointer;

}

#headerSelected {
  background: lightgray;
}

.information {
  font-size: 12pt;
  font-family: "Open Sans";
}

.infotext {
  cursor: pointer;
  font-size: 12pt;
  font-family: "Open Sans";
}

.countrytext {
  cursor: pointer;
}
