body {
  font-family: 'arimo', sans-serif;
  font-size: 14;
  }

  
  .workarea {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    width: 90%;

  }
  
  .films-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-basis: 55%;
  }
  
  .movie {
    border: 1px solid grey;
    display: block;
    height: fit-content;
    padding: 1em;
    border-radius: 2px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  }
  
  .leftpanel {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-basis: 20%;
  }
  
  .pollscontainer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    border: 1px solid darkgray;
    background-color: lightgray;
    padding: 15 10 10 15;
    gap: 1px;
  
  }
  
  .pollbutton {
    margin-bottom: 4px;
    background: #eee;
    color: #444;
    border: 1px solid #bbb;
    border-bottom: 1px solid #aaa;
    background-image: linear-gradient(#fff 2%,#ddd 95%,#bbb 100%);
    border-radius: 0.25em;
    box-shadow: none;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    height: fit-content;
    font-size: 15;
    text-align: center;
    width: 100%;
    border-radius: 0px;
    padding: 3 0 3 0;
    touch-action: manipulation;
  }
  
  .pollbutton:active {
    color: #111;
    background: #ccc;
    border-color: #fff;
    box-shadow: inset 1px 1px 3px #333;
  }
  
  #poll {
    padding: 10 10 10 10;
  }
  
  .filters {
    display:block;
    height: fit-content;
    border: 1px solid darkgray;
    background-color: lightgray;
    padding: 10px;
  }
  
  .rankgrid {
    height: fit-content;
    padding-top: 2em;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    
  }
  
  .rank {
    flex-basis: 100%;
    font-size: 20;
    text-align: center;
    font-family: 'anton';
  }
  
  
  .votes {
    flex-basis: 100%;
    font-size: 13;
    text-align: center;
  
  }
  
  
  .year {
    flex-basis: 100%;
    font-size: 13;
    text-align: center;
  }
  
  .pound {
    font-weight: normal;
    font-family: 'arimo';
    font-size: 18;
    padding-right: 2px;
  }
  
  .title {
    font-size: 28;
    font-weight: bold;
  }
  
  .alttitle {
    font-size: 19;
    font-weight: bold;
    font-style: italic;
    padding-bottom: .35em;
    padding-top: .35em;
  }
  
  .director {
    font-size: 16;
    font-weight: bold;
    padding-bottom: .2em;
  }
  
  .countryyear {
    font-size: 16;
  }
  
  .dby {
    font-weight: normal;
  }
  
  
  .pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 15 0 0 0;
  }
  
  .searchbar {
    padding: 5 0 5 0;
    position: relative;
  }
  
  .searchbar input {
    width: 95%
  }
  
  .dropdown-content {
    height:fit-content;
    max-height: 120px;
    position: absolute;
    overflow: auto;
    z-index: 2;
    width: 100%;
    background-color: white;
  }
  
  .searchresults {
    display: block;
    cursor: pointer;
    padding-top: .2em;
    padding-bottom: .2em;
    border-bottom: 1px solid grey;

  }
  
  .countries {
    padding-left: 17px;
  }
  
  .pageitem {
    background: #eee;
    color: #444;
    border: 1px solid #bbb;
    border-bottom: 1px solid #aaa;
    background-image: linear-gradient(#fff 2%,#ddd 95%,#bbb 100%);
    border-radius: 0.25em;
    box-shadow: none;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-size: 12;
    height: 25px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    width: fit-content;
    padding: 0px 10px 0px 10px;
  }
  
  .pageitem:active {
    color: #111;
    background: #ccc;
    border-color: #fff;
    box-shadow: inset 1px 1px 3px #333;
  }
  
  #selected {
    color: #111;
    background: #ccc;
    border-color: #fff;
    box-shadow: inset 1px 1px 3px #333;
  }
  
  .filterTitle {
    font-size: 15;
    cursor: pointer;
  }
  

  
  .applytop {
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  
  .applybottom {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  
  #highlight {
    color: green;
  }
  
  .withClear {
    padding: 16px 0 8px 0;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .sortTitle {
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    font-size: 15;
  }
  
  .sort {
    width: 100%;
    cursor: pointer;
  }
  
  .sortContainer {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .clear {
    font-size: 9pt;
    text-decoration: underline;
    margin-top: 2px;
    cursor: pointer;
  }
  
  .expandFilters {
      border-bottom: 1px solid white;
  }
  
  .searchBarContainer {
    padding-bottom: 5px;
  }

  .searchBarContainer input{
    width: 95%
  }
  
  .mainTitle {
    font-size: 44pt;
    font-family: 'anton';
    padding-bottom: 10px;
  }
  
  .headerContainer {
    padding: 0 50 0 50;
    border-bottom: 3.5px solid black;
    padding-bottom: 10px;
  }
  
  .resultsNums {
    font-family: 'anton';
    font-size: 18;
  }
  
  .results {
    font-size: 16;
    padding: 15 0 15 0;
    padding-left: 11%;
  }
  
  .headerSelectionContainer {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
  
  .headerSelection {
    border-bottom: 1.5px solid black;
    font-size: 12pt;
    cursor: pointer;
  
  }
  
  #headerSelected {
    background: lightgray;
  }
  
  .information {
    font-size: 12pt;
    font-family: "arimo";
  }
  
  .infotext {
    cursor: pointer;
    font-size: 12pt;
    font-family: "arimo";
  }
  
  .countrytext {
    cursor: pointer;
  }

  .displayedSelection {
    cursor: pointer;
  }

  @media all and (max-width: 900px) {
  
      .films-container {
        flex-basis: 100%;
    }
  }

