body {
  font-family: 'Open Sans';
  font-size: 14px;
}

.main {
  padding-left: 6vw;
  padding-right: 6vw;
}

.workarea {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-left: 100px;
  padding-right: 225px;
}

.films-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.movie {
  border: 1px solid grey;
  display: block;
  height: fit-content;
  min-height: 100px;
  padding: .5em;
  border-radius: 2px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
}

.filters {
  width: 200px;
  height: fit-content;
  border: 1px solid darkgray;
  background-color: lightgray;
}

h2,
h4 {
  margin: 0;
}

.rankgrid {
  min-height: 50px;
  padding-top: 2em;
}

.row {
  flex: 1;
  display: flex;
  flex-direction: row;
  
}

.rank {
  flex-basis: 100%;
  font-weight: bold;
  font-size: 15;
}


.votes {
  flex-basis: 100%;
  font-size: 13;

}


.year {
  flex-basis: 100%;
  font-size: 13;
}

.pound {
  font-weight: normal;
  font-size: 10;
  padding-right: 1px;
}

.title {
  font-size: 26;
  font-weight: bold;
}

.alttitle {
  font-size: 16;
  font-weight: bold;
  font-style: italic;
  padding-bottom: .35em;
}

.director {
  font-size: 14;
  font-weight: bold;
}

.countryyear {
  font-size: 14;
}

.dby {
  font-weight: normal;
}

.films {
  flex: 1;

}


.pagination {
  display: flex;
  justify-content: center;
  gap: 6px;
  padding: 25 0 25 0;
}

.searchbar {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  height: 120px;
  width: 100%;
  position: absolute;
  overflow: auto;
  background-color: white;
  z-index: 2;
}

.searchdirectors {
  display: block;
}

.countries {
  padding-left: 17px;
}

.pageitem {
  background-color:white;
  border: 1px solid darkgray;
  border-radius: 4px;
  background-image: linear-gradient(-180deg, white, lightgray);
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 10pt;
  line-height: 29px;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  vertical-align: middle;
  width: fit-content;
  padding: 0px 10px 0px 10px;
}

.pageitem:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 2;
}

.filterTitle {
  padding: 8px 0 8px 0;
  border-bottom: 1px solid white;
}

.filters {
  padding: 10px
}

.searchBar {
  padding: 5 0 5 0;
}

.apply {
  padding-top: 10px;
  text-align: center;
}

#applybutton {
  padding: 1 0 1 0;
  background-color: red;
  width: 75%
}
